<template>
  <q-page class="container q-pa-md">
    <div class="row">
      <div class="col">
        <q-input
          standout="bg-blue-2 text-black"
          v-model="search"
          label="Search by title"
        >
          <template v-slot:append>
            <q-icon
              v-if="search !== ''"
              name="close"
              @click="search = ''"
              class="cursor-pointer"
            />
            <q-icon name="search" />
          </template>
        </q-input>
      </div>
    </div>
    <movie-list :items="filteredMovies" @detailMovie="detailMovie" />

    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn fab icon="add" color="blue-4" @click="openModalCreate()" />
    </q-page-sticky>
    <dialog-movie
      v-if="showModal && movie"
      v-model="showModal"
      :movie="movie"
      :genres="genres"
      :isDetail="isDetail"
      @createMovie="createMovie"
      @updateMovie="updateMovie"
      @deleteMovie="deleteMovie"
    />
  </q-page>
</template>
<script setup lang="ts">
import { ref, computed } from 'vue';
import { Notify } from 'quasar';
import { IMovie, IOption } from 'src/utils/interfaces';
import MovieList from 'src/components/MovieList.vue';
import DialogMovie from 'src/components/DialogMovie.vue';

const search = ref('');
const showModal = ref(false);
const isDetail = ref(false);

const genres = ref<IOption[]>([
  {
    label: 'Drama',
    value: false,
  },
  {
    label: 'Action',
    value: false,
  },
  {
    label: 'Animation',
    value: false,
  },
  {
    label: 'Sci-Fi',
    value: false,
  },
  {
    label: 'Horor',
    value: false,
  },
]);

const movie = ref<IMovie>({
  id: 0,
  title: '',
  director: '',
  summary: '',
  genres: [],
});

const movies = ref<IMovie[]>([
  {
    id: 1,
    title: 'Iron Man',
    director: 'Jon Favreau',
    summary:
      'In cave, billionaire engineer Tony Stark creates a unique weaponized suit of armor to fight evil.',
    genres: ['Action', 'Sci-Fi'],
  },
  {
    id: 2,
    title: 'Captain America: The First Avenger',
    director: 'Joe Johnston',
    summary:
      'Steve Rogers, a rejected military soldier, transforms into Captain America after taking a dose of a.',
    genres: ['Action', 'Sci-Fi'],
  },
  {
    id: 3,
    title: 'Black Panther',
    director: 'Ryan Coogler',
    summary:
      "T'Challa, heir to the hidden but advanced kingdom of Wakanda, must step forward to lead his people.",
    genres: ['Action', 'Drama'],
  },
  {
    id: 4,
    title: 'Avengers: Endgame',
    director: 'Anthony Russo, Joe Russo',
    summary:
      'After the devastating events of Avengers: Infinity War, the universe is in ruins. With the help us.',
    genres: ['Action', 'Sci-Fi'],
  },
  {
    id: 5,
    title: 'Spider-Man: Homecoming',
    director: 'Jon Watts',
    summary:
      'Peter Parker balances his life as an ordinary high school student in Queens with his superhero alter',
    genres: ['Action', 'Sci-Fi'],
  },
]);

const filteredMovies = computed(() => {
  if (search.value === '') {
    return movies.value;
  } else {
    const searchTerm = search.value.toLowerCase();
    return movies.value.filter((movie) =>
      movie.title.toLowerCase().includes(searchTerm)
    );
  }
});

const openModalCreate = () => {
  showModal.value = true;
  isDetail.value = false;
  resetMovie();
};

const resetMovie = () => {
  movie.value = {
    id: 0,
    title: '',
    director: '',
    summary: '',
    genres: [],
  };
};

const createMovie = (item: IMovie) => {
  movies.value.push({
    ...item,
    id: movies.value.length + 1,
  });
  showModal.value = false;
  Notify.create({
    icon: 'done',
    color: 'positive',
    message: 'Movie has been created!',
  });
};

const updateMovie = (item: IMovie) => {
  movies.value[item.id - 1] = item;
  showModal.value = false;
  Notify.create({
    icon: 'done',
    color: 'positive',
    message: 'Movie has been updated!',
  });
};

const deleteMovie = (id: number) => {
  movies.value = movies.value.filter((m) => m.id !== id);
  showModal.value = false;
  Notify.create({
    icon: 'done',
    color: 'positive',
    message: 'Movie has been deleted!',
  });
};

const detailMovie = (item: IMovie) => {
  isDetail.value = true;
  showModal.value = true;
  movie.value = item;
};
</script>

<style lang="scss" scoped>
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.fs-18 {
  font-size: 1.125rem;
}
</style>
