<template>
  <q-dialog
    :model-value="true"
    :position="$q.screen.lt.lg ? 'bottom' : 'standard'"
    :full-width="$q.screen.lt.lg"
  >
    <q-card :class="$q.screen.lt.lg ? '' : 'min-width-800'">
      <q-card-section>
        <div class="flex justify-between">
          <p class="text-h5 text-weight-medium">
            {{ isDetail ? 'Detail' : 'Create' }} Movie
          </p>
          <div class="flex">
            <q-btn
              v-if="isDetail"
              color="red-4"
              icon="delete"
              class="q-mr-md"
              :label="$q.screen.lt.md ? '' : 'Delete'"
              @click="$emit('deleteMovie', movie.id)"
            />
            <q-btn
              :color="disabled ? 'dark' : 'blue-4'"
              icon="save"
              :disable="disabled"
              :label="$q.screen.lt.md ? '' : 'Save'"
              @click="
                isDetail
                  ? $emit('updateMovie', movie)
                  : $emit('createMovie', movie)
              "
            />
          </div>
        </div>
      </q-card-section>

      <q-card-section>
        <q-input
          v-model="movie.title"
          standout="bg-blue-2"
          label="Title"
          :rules="[rules.required]"
        />
      </q-card-section>

      <q-card-section>
        <q-input
          v-model="movie.director"
          standout="bg-blue-2"
          label="Director"
          :rules="[rules.required]"
        />
      </q-card-section>

      <q-card-section>
        <q-input
          v-model="movie.summary"
          type="textarea"
          standout="bg-blue-2"
          label="Summary"
          :rules="[rules.required, rules.max(100)]"
        />
      </q-card-section>

      <q-card-section>
        <input-chip v-model="movie.genres" :options="genres" />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script setup lang="ts">
import { ref, computed, PropType } from 'vue';
import { useQuasar } from 'quasar';
import { IMovie } from 'src/utils/interfaces';
import InputChip from 'src/components/InputChip.vue';

const props = defineProps({
  movie: {
    type: Object as PropType<IMovie>,
    default: () => ({}),
  },
  genres: {
    type: Array,
    default: () => [],
  },
  isDetail: {
    type: Boolean,
    default: false,
  },
});

const $q = useQuasar();

const movie = ref<IMovie>({ ...props.movie });

const disabled = computed(() => {
  return (
    movie.value.title === '' ||
    movie.value.director === '' ||
    movie.value.summary === '' ||
    movie.value.summary.length > 100 ||
    movie.value.genres.length === 0
  );
});

const rules = {
  required: (val: string) => !!val || 'Field is required',
  max: (max: number) => (val: string) =>
    (val && val.length <= max) || `Field maximum ${max} characters`,
};
</script>

<style lang="scss" scoped>
.min-width-800 {
  min-width: 800px;
}
</style>
