<template>
  <q-chip
    v-for="(option, index) in items"
    :key="index"
    class="q-mr-xs"
    :color="option.value ? 'blue-2' : ''"
    clickable
    @click="toggleSelectOptions(option)"
  >
    {{ option.label }}
  </q-chip>
</template>

<script setup lang="ts">
import { ref, watch, PropType } from 'vue';
import { IOption } from 'src/utils/interfaces';

const props = defineProps({
  modelValue: {
    type: Array as PropType<IOption[]>,
    default: () => [],
  },
  options: {
    type: Array,
    default: () => [],
  },
});

const emit = defineEmits(['update:modelValue']);

const items = ref(
  props.options.map((opt) => ({
    ...opt,
    value: props.modelValue.includes(opt.label),
  }))
);

const select = ref(items.value.filter((opt: IOption) => opt.value));

const toggleSelectOptions = (option: IOption) => {
  option.value = !option.value;
  select.value = items.value.filter((opt: IOption) => opt.value);
};

watch(
  () => select.value,
  () => {
    emit(
      'update:modelValue',
      select.value.map((opt: IOption) => opt.label)
    );
  }
);
</script>
