<template>
  <div v-if="items.length" class="row q-mt-md q-col-gutter-md">
    <div
      class="col-12 col-lg-4 cursor-pointer"
      v-for="movie in items"
      :key="movie.id"
    >
      <q-card
        class="full-height card-full"
        @click="$emit('detailMovie', movie)"
      >
        <q-card-section class="bg-blue-2 text-black">
          <p class="fs-16 text-weight-medium">{{ movie.title }}</p>
          <p>{{ movie.director }}</p>
        </q-card-section>

        <q-card-section>
          <p>{{ movie.summary }}</p>
        </q-card-section>

        <q-card-section class="text-right bg-blue-1">
          <q-item-section>{{ movie.genres.join(', ') }}</q-item-section>
        </q-card-section>
      </q-card>
    </div>
  </div>
  <q-card v-else class="q-pa-md" flat>
    <q-card-section class="text-center">
      <p class="fs-18 text-weight-medium">No movie found</p>
    </q-card-section>
  </q-card>
</template>

<script setup lang="ts">
import { PropType } from 'vue';
import { IMovie } from 'src/utils/interfaces';

defineProps({
  items: {
    type: Array as PropType<IMovie[]>,
    default: () => [],
    required: true,
  },
});
</script>

<style lang="scss" scoped>
p {
  margin: 0.25rem;
}
.card-full {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fs-16 {
  font-size: 1rem;
}
</style>
